container_commands:
  01_restore_database:
    command: |
      # Replace with the actual S3 bucket and file path of your database backup
      aws s3 cp s3://elasticbeanstalk-us-east-1-015058543222/inventory_system.sql /tmp/inventory_system.sql
      # Replace with your MySQL credentials and database name
      mysql -h "$MYSQL_HOST" -u "$MYSQL_USER" -p"$MYSQL_PASSWORD" "$DATABASE_NAME" < /tmp/inventory_system.sql
    cwd: /var/app/current
